body {
    margin-top: 10px;
}

h3, h6 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 4px;
}

th {
    text-align: center;
    font-size: 11px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#tools, #diskTools {
    padding-left: 8px;
}

#title {
    height: 72px;
}

#log {
    height: 384px;
    white-space: pre;
    overflow-x: scroll;
    overflow-y: scroll;
    word-wrap: normal;
}

#status {
    height: 176px;
    overflow: auto;
    word-wrap: normal;
}

#diskManagerPanel, #optionsPanel {
    height: 624px;
}

#diskFileTable {
    overflow: scroll;
}

#fileTableRow {
    overflow:auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

#canvas {
    width: 100%;
}

@media (max-width: 360px) {
    #fileTableRow {
        height:400px;
    }
}

@media (min-width: 361px) and (max-width: 513px) {
    #fileTableRow {
        height:432px;
    }
}

@media (min-width: 514px) {
    #fileTableRow {
        height:498px;
    }
}