body {
    margin-top: 10px;
}

#title {
    padding: 4px;
    text-align: center;
    height: 40px;
    margin-bottom: 0;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 12px;
    margin-left: 10px;
}

#canvas {
    width: 100%;
    image-rendering: crisp-edges;
}

.pixelated {
    image-rendering: pixelated;
}

#tools, #diskTools, #debuggerTools {
    padding-left: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#log, #diskManagerPanel, #tapeManagerPanel, #optionsPanel, #keyboardPanel {
    height: 622px;
}

#log {
    white-space: pre;
    overflow-x: scroll;
    overflow-y: scroll;
    word-wrap: normal;
}

#diskFileTable {
    overflow: scroll;
}

#diskFileHead th, #diskFileTable td {
    text-align: center;
    font-size: 12px;
}

#fileTableRow {
    overflow:auto;
    margin-top: 12px;
    margin-bottom: 12px;
    height:433px;
}

#keyboard, #strip {
    width: 100%;
}

#strip {
    margin-top: 14px;
}

#status {
    height: 178px;
    overflow: hidden;
    word-wrap: normal;
}

#memory {
    height: 376px;
    overflow: auto;
    word-wrap: normal;
    line-height: 19px;
}

#debuggerTools {
    padding-top: 8px;
}

#breakpoint, #address {
    width: 50px;
    margin-top: 3px;
    margin-right: 8px;
}
